<?xml version="1.0" encoding="UTF-8"?>
<!--scan:当配置文件发生变化时，是否重新加载，默认true-->
<!--scanPeriod:监测配置文件是否发生变化的间隔时间，当scan属性等于true时生效，默认60秒-->
<!--debug:是否输出logback内部日志，默认false-->
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!--导入默认配置文件-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!--获取配置文件属性值-->
    <springProperty scope="context" name="springApplicationName" source="spring.application.name"/>

    <!--定义变量-->
    <property name="LOG_FILE" value="${BUILD_FOLDER:-build}/${springApplicationName}"/>
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN}"/>
    <property name="FIlE_LOG_PATTERN" value="${FILE_LOG_PATTERN}"/>

    <!--上下文名称-->
    <contextName>${springApplicationName}</contextName>

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${LOG_FILE}.log</file>
        <!--日志文件切割规则-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!--最大保留天数-->
            <maxHistory>7</maxHistory>
            <!--活动文件最大大小，默认10MB-->
            <!--<maxFileSize>10MB</maxFileSize>-->
        </rollingPolicy>
        <encoder>
            <pattern>${FIlE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>